.navbar-container {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
    background-color: white;
    padding: 16px 24px;
    border-radius: 64px;
}

.active {
    color: black;
}

.default {
    color: gray;
}